.swipebuttons {
    width:450px;
    height:60px;
    margin:auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    
}
.icons {
    background-color: rgb(243, 235, 235);
    border-radius: 50%;
    padding:15px;
}
